{% load static %}
<link rel = "stylesheet" href = "{% static 'css/hijab.css' %}">


<html>
  <head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,600">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.6/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    
    <meta charset="UTF-8">
    <title>Fantasy Product Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   

   
    <link rel="stylesheet" href="hijab.css">
    
  </head>
  <body>

      <header>
        <img src="{% static 'media/C:\Users\Manar\Desktop\prooo\mysite\mysite\static\images\scarfia.PNG' %}" alt="">
        
      <nav>
       
        <ul>
        <li>  <a href="#"><i class="fa fa-search" style="font-size:20px"></i></a></li>
          <li><a href="{% url 'home' %}">Home</a></li>
          <li><a href="{% url 'home' %}">About Us</a></li>
          <li><a href="{% url 'cart' %}"><i class="fa fa-shopping-cart" style="font-size:20px"></i></a></li>
          <li><a href="{% url 'profile' %}"><i class="fa fa-user" style="font-size:24px"></i></a></li>
        </ul>
       
      </nav>
    </header>
    </header>

    <div class="about">
        <div class="image2">
    
            <img src="{% static 'images/ne.jpg' %}" alt= " " >
        
        </div>
    
    
        <div class="text">
            <h1 id="sk">Signature prayer dress</h1>
    
           
            
    
            <p>Our signature one piece prayer dress is an innovative design made in synthetic silk. The veil is attached to the dress, making this unique piece very easy to use. The hooks on the veil attach the hijab perfectly, so no pins are needed.</p>
    
        </div>
     
          
       
    </div>
  
      <div class="products">
        <h3>Happy shopping</h3>
      </div>


   
      
    <main class="container">
      
      {% for y in  prayer %}

      <div class="product-card">

        <img src="{{ y.image.url }}" alt="Product Image">

        <div class="product-info">

          <h2>{{y.name}}</h2>
        
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>

          <p class="description">One piece prayer dress, hijab attached. No pins are needed. Handmade and high quality.</p>
          <p class="description">Color: Prayer dress: {{y.color}}</p>
          <p class="description">Length from shoulder to feet: {{y.Length_from_shoulder_to_feet}}</p>
          <p class="description">Materials: Prayer dress {{y.material}}</p>
          <p class="price">EGP{{y.price}}</p>
          <button>Add to Cart</button>
        </div>
      </div>




      {% endfor %}
      
      
      {%comment%}<div class="product-card">
        <img src="{% static 'images/fatema.jpg' %}" alt="Product Image">
        <div class="product-info">
          <h2>Prayer dress fatema</h2>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>

          <p class="description">One piece prayer dress, hijab attached. No pins are needed. Handmade and high quality.</p>
          <p class="description">Color: Prayer dress: dark blue</p>
          <p class="description">Length from shoulder to feet: 154 cm/ 60,62 inches</p>
          <p class="description">
         
            Materials: Prayer dress 100% satin</p>
          <p class="price">EGP1,000.00</p>
          <button>Add to Cart</button>
        </div>
      </div>
      <div class="product-card">
        <img src="{% static 'images/prayerdressesabele.jpg' %}" alt="Product Image">
        <div class="product-info">
          <h2> Prayer dress Isabelle</h2>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <p class="description">One piece prayer dress, hijab attached. No pins are needed. Handmade and high quality.</p>
          <p class="description">Color: Prayer dress: golden brown</p>
          <p class="description">Length from shoulder to feet: 154 cm/ 60,62 inches</p>
          <p class="description">
         
            Materials: Prayer dress 100% satin</p>
          <p class="price">EGP1,000.00</p>
          <button>Add to Cart</button>
        </div>
      </div>


      <div class="product-card">
        <img src="{% static 'images/prayerdresskhadija.jpg' %}" alt="Product Image">
        <div class="product-info">
          <h2>Prayer dress khadija</h2>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>

          <p class="description">One piece prayer dress, hijab attached. No pins are needed. Handmade and high quality.</p>
          <p class="description">Color: Prayer dress: Green emerlad</p>
          <p class="description">Length from shoulder to feet: 154 cm/ 60,62 inches</p>
          <p class="description">
         
            Materials: Prayer dress 100% satin</p>
          <p class="price">EGP1,000.00</p>
          <button>Add to Cart</button>
        </div>
      </div>

      <div class="product-card">
        <img src="{% static 'images/prayerdress.jpg' %}" alt="Product Image">
        <div class="product-info">
          <h2>Prayer dress sofia</h2>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <p class="description">One piece prayer dress, hijab attached. No pins are needed. Handmade and high quality.</p>
          <p class="description">Color: Prayer dress: light rose</p>
          <p class="description">Length from shoulder to feet: 154 cm/ 60,62 inches</p>
          <p class="description">
         
            Materials: Prayer dress 100% satin</p>
          <p class="price">EGP1,000.00</p>
          <button>Add to Cart</button>
        </div>
      </div>

      <div class="product-card">
        <img src="{% static 'images/rose.jpg' %}" alt="Product Image">
        <div class="product-info">
          <h2>Prayer dress ihssane</h2>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>

          <p class="description">One piece prayer dress, hijab attached. No pins are needed. Handmade and high quality.</p>
          <p class="description">Color: Prayer dress: light rose</p>
          <p class="description">Length from shoulder to feet: 154 cm/ 60,62 inches</p>
          <p class="description">
         
            Materials: Prayer dress 100% satin</p>
          <p class="price">EGP1,000.00</p>
          <button>Add to Cart</button>
        </div>
      </div>

 
 
   
      
   
      </div>{%endcomment%}
      
    </main>

   <div class="footer">
     <div class="col-1">
      <h3>useful links</h3>


      <a href="#">About</a>
      <a href="#">Services</a>
      <a href="#">Contact</a>
      <a href="#">Shop</a>
      <a href="#">profile</a>

    </div>

    <div class="col-2">
       <h3>Newsettler</h3>

  
      <input type="text" placeholder="your email address" required>
      <br>
      <button type="submit">Subscribe now</button>

    </div>

    <div class="col-3">

      <h3>Contact us</h3>
      <p><i class="fas fa-map-marker-alt"></i> Cairo, Egypt </p>
      <p><i class="fas fa-phone"></i> Phone:01010036560</p>
      <p><i class="fas fa-envelope"></i> Email: <a href="mailto:hello@domain.com">info@Scarfyo.com</a></p>

      <div class="social-icons">
        <a href="#" class="fa fa-facebook"></a>  
<a href="#" class="fa fa-twitter"></a>  
<a href="#" class="fa fa-pinterest"></a>    
<a href="#" class="fa fa-instagram"></a>  
        </div>

    </div>
   </div>
   
   
</body>
</html>

  </body>
</html>
































